.mt {
    margin-top: 20px !important;
}
.mr {
    margin-right: 4px !important;
}
.m-2 {
    margin-bottom: 4px !important;
}
@media (max-width: 768px) {
    .todoBtn {
        padding: 4px !important;
    }
}
@media (max-width: 768px) {
    .flex-col {
        flex-direction: column !important;
        justify-content: space-around; 
        align-items: flex-end; 
    }
}

.todo-item {
    position: relative;
    transition: background-color 0.3s;
}

.todo-item:hover {
    background-color: #5A5F67; /* Slightly darker shade */
}

.input:hover::after {
    content: 'Click to change color';
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #333;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    white-space: nowrap;
}


.done-icon-button {
    border: 1px solid green !important;
    transition: all 0.3s ease;
}
.done-icon-button:hover {
    background: #3bd43b  !important;
    color: white !important;
}


.edit-icon-button {
    background: white !important;
    border: 1px solid blue !important;
    color: blue !important;
    transition: all 0.3s ease;
}
.edit-icon-button:hover {
    background: #004cff !important;
    color: white !important;
}

.delete-icon-button {
    background: white !important;
    border: 1px solid red !important;
    color: red !important;
    transition: all 0.3s ease;
}
.delete-icon-button:hover {
    background: red !important;
    color: white !important;
}

.css-jzod11 {
    padding: 21px;
}

